* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    color: #16222e;
    font-family: blenderpro, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

@font-face {
    font-family: blenderpro;
    src: url('fonts/BlenderPro-Book.woff');
}
@font-face {
    font-family: blenderpro;
    font-weight: bold;
    src: url('fonts/BlenderPro-Bold.woff')
}
@font-face {
    font-family: blenderpro;
    font-weight: 700;
    src: url('fonts/BlenderPro-Heavy.woff')
}

body {
    background-color: #e1ecf5;
    background-repeat: no-repeat;
    background-size: 100%;

    overflow: hidden;
}

#home-container {
    width: 900px;
    margin-top: 150px;
}

#home-title-container {
    background-color: #16222e;
    border-radius: 20px;
}

#home-title {
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

#home-text {
    font-size: 3rem;
    text-align: center;
    
}

#home-text-play {
    margin: 0 10px;
    padding: 10px 20px;
    background: #1cc9be;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

#play-button {
    padding: 10px 20px;
    border: 2px solid #1cc9be;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

.nav-header {
    font-family: blenderpro;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

    background-color: #16222e;
}

.menu-container {
    display: flex;
    text-align: center;
    justify-content: space-between;

    width: 80%;
}

.menu-container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul > li {
    display: inline-block;
    margin: 10px;
}

.menu-1 {
    width: 40%;
}

.menu-2 {
    width: 18%;
}

.menu > li > a {
    text-decoration: none;
    color: #fff;

    padding: 10px 20px;
    border-radius: 10px;
}
.menu > li > a:hover {
    background: #1cc9be;
    box-shadow: none;
    transition: .15s all ease-in-out;
}
.menu > li > a:not(:hover) {
    background: #16222e;
    box-shadow: none;
    transition: .15s all ease-in-out;
}

.main-container {
    display: flex;
    justify-content: center;
    height: 1900px;
    margin-top: 100px;
}

.page-container {
    font-size: 2rem;

    display: block;
    width: 60%;
    border: 1px solid rgb(238, 238, 238);
    justify-content: center;
}

.page-title {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 10px;
    margin-bottom: 40px;
}

.page-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.page-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}

.page-field select {
    font-size: 1.5rem;
    width: 40%;
    padding: 10px;

    border: 1px solid #e3e3e3;
    border-radius: 10px;
}

.page-field input {
    font-size: 1.5rem;
    width: 40%;
    padding: 10px;

    border: 1px solid #e3e3e3;
    border-radius: 10px;
}

.page-submit {
    font-size: 1.5rem;
    background-color: #1cc9be;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    width: 30%;
    padding: 20px;
    margin: 3% auto;
}

.page-submit:hover {
    box-shadow: 0 0 6px #1cc9be;
    transition: .2s linear;
    background-color: #1db5ab;
}
.page-submit:not(:hover) {
    transition: .2s linear;
    background-color: #1cc9be;
}

.page-table {
    width: 100%;
}

#scores-container {
    width: 75%;
}

.page-table-header {
    background-color: #16222e;
}
.page-table-header th {
    font-size: 1.6rem;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.page-table-td {
    justify-content: center;
    padding: 20px 20px;
    border-bottom: 1px solid #16222e;
}

.page-table-data {
    text-align: center; 
    vertical-align: middle;
}

#play-container {
    width: 100%;
    height: 100%;
}

.play-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #16222e;
    position: absolute;
    width: 200px;
    height: 270px;
    bottom: 20%;
    left: 0;
    margin: 50px;
    padding: 20px;
}

.play-section p {
    color: #fff;
    text-align: center; 
    vertical-align: middle;
}

.play-banner {
    font-weight: bold;
}

.play-data {
    font-size: 3rem;
}

#missile {
    height: 150px;
    width: auto;
    position: absolute;
    top: 1100px;
    left: 600px;
}
.ufo {
    height: 70px;
    width: auto;
    position: absolute;
    top: 120px;
    left: 30px;
}
#ufo-hidden {
    height: 70px;
    width: auto;
    position: absolute;
    top: 120px;
    left: 30px;
    visibility: hidden;
}